@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


*{
    padding: 0%;
    margin: 0%;
    border: 0%; 
    
} 

body{
    
    font-family: 'Raleway', sans-serif;
}

h1{
    color: rgb(240, 101, 9);
    text-align: center;
    padding: 1%;
    text-transform: uppercase;
    
}

h2{
    margin-top: 10%;
}

.text1{
    text-align:left;
    margin-right: 15%;
    margin-left: 15%;
}

header{
    
    border: solid rgb(240, 237, 237) 0.5px ;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}
.nav-bar{

    display: flex;
    justify-content: center;     
}

ul, a{

  text-decoration: none;
  color: rgb(103, 107, 107);
  padding: 0.5%;
  margin-bottom: 1%;
  
 }

a:hover{
    color:white;
    background: rgb(240, 101, 9);
}      


.img3{
    display:flex;
    flex-wrap: wrap;
    width:50%;
    height: 1%;
    margin-left: 25%;
    margin-top: 4%;
}
    
.rodape{

    text-align: center;
    background-color: rgb(240, 237, 237) ;
    margin-top: 2%;
    padding: 0.5%;
} 