@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


*{
    padding: 0%;
    margin: 0%;
    border: 0%; 
    
} 

body{
    
    font-family: 'Raleway', sans-serif;
}

h1{
    color: brown;
    text-align: center;
    padding: 1%;
    text-transform: uppercase;
}

header{
    
    border: solid rgb(240, 237, 237) 0.5px ;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}
.nav-bar{

    display: flex;
    justify-content: center;    
}

ul, a{

  text-decoration: none;
  color: rgb(103, 107, 107);
  padding: 0.5%;
  margin-bottom: 1%;
  
 }

a:hover{
    color:white;
    background:brown;
}      

.fundo{

    background-repeat: no-repeat;
    background: url(../img/jane.jpg);
    background-size: cover;
    height: 90vh;
    margin-left: 1%;
    margin-right: 1%;
    
}
    
.rodape{

    text-align: center;
    background-color: rgb(240, 237, 237) ;
    margin-top: 2%;
    padding: 0.5%;
} 